{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags (Static) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Title -->
    <title>
      {% block title %}
        Production Tracking System
      {% endblock title %}
    </title>
    <!-- Tailwind CSS -->
    <link href="{% static "css/public.styles.css" %}" rel="stylesheet">
    <!-- Load Phosphor Icons via CDN -->
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="font-sans antialiased bg-gray-100 text-gray-800">
    <!-- Header -->
    <header class="bg-white shadow-md py-4">
      <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
          <a href="/"
             class="text-xl font-bold text-blue-600 hover:text-blue-800 transition duration-200">
            <img src="{% static "images/humana_logo.png" %}" alt="" class="h-8">
          </a>
          <h1 class="text-xl font-bold text-center hidden sm:block">
            {% block header_title %}
              Production Tracking System
            {% endblock header_title %}
          </h1>
          <div class="flex space-x-4">
            <a href="{% url 'scan_qr' %}"
               class="text-blue-600 hover:text-blue-800 flex items-center flex-nowrap gap-1 text-lg font-medium">
              <i class="ph-duotone ph-barcode"></i> Scan
            </a>
            <a href="{% url 'dashboard' %}"
               class="text-blue-600 hover:text-blue-800  flex items-center flex-nowrap gap-1 text-lg font-medium">
              <i class="ph-duotone ph-chart-line"></i> <span>Dashboard</span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="min-h-screen py-4">
      <main class="container mx-auto px-4">
        {% block content %}
        {% endblock content %}
      </main>
    </div>
    <!-- Preline Module -->
    <script src="{% static "js/preline.js" %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
