{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags (Static) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Title -->
    <title>
      {% block title %}
        Production Tracking System
      {% endblock title %}
    </title>
    <!-- Tailwind CSS -->
    <link href="{% static "css/public.styles.css" %}" rel="stylesheet">
    <!-- Load Phosphor Icons via CDN -->
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="font-sans antialiased bg-background text-foreground">
    {% block header %}
      {% include "partials/header.html" %}
    {% endblock header %}
    <main class="w-full overflow-hidden">
      {% block content %}
      {% endblock content %}
    </main>
    {% block footer %}
      {% include "partials/footer.html" %}
    {% endblock footer %}
    <!-- Preline Module -->
    <script src="{% static "js/preline.js" %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>
