{% extends "layouts/base.html" %}
{% block title %}
  Careers at Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description"
        content="Join our team at Humana Apparels and be part of our sustainable fashion manufacturing journey.">
{% endblock meta_description %}
{% block content %}
  <!-- Career Header -->
  <section data-taos-offset="300"
           class="duration-[600ms] taos:translate-y-[-50%] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/career_header.html" %}
  </section>
  <!-- Open Positions -->
  <section data-taos-offset="300"
           class="delay-[300ms] duration-[800ms] taos:scale-[0.9] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/open_positions.html" %}
  </section>
{% endblock content %}
