{% extends "layouts/base.html" %}
{% block title %}
  Contact Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description" content="Contact Humana Apparels Pvt. Ltd.">
{% endblock meta_description %}
{% block content %}
  <!-- Contact Information -->
  <section data-taos-offset="300"
           class="duration-[600ms] taos:translate-y-[-50%] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/contact_information.html" %}
  </section>
  <!-- Office Location Map -->
  <section data-taos-offset="300"
           class="delay-[300ms] duration-[800ms] taos:scale-[0.9] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/office_location_map.html" %}
  </section>
{% endblock content %}
