{% extends "layouts/base.html" %}
{% block title %}
  News from Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description" content="News from Humana Apparels Pvt. Ltd.">
{% endblock meta_description %}
{% block content %}
  <!-- Articles -->
  <section data-taos-offset="300"
           class="duration-[600ms] taos:translate-y-[-50%] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/articles_section.html" %}
  </section>
  <!-- Newsletter -->
  <section data-taos-offset="300"
           class="delay-[300ms] duration-[800ms] taos:scale-[0.9] taos:opacity-0 [animation-iteration-count:infinite]">
    {% include "partials/newsletter.html" %}
  </section>
{% endblock content %}
